.txt1{
    padding-left: 25px;
    padding-top: 25px;
}
.nav2{
    padding-left: 225px;
    padding-top: 150px;
}
body{
    background-color: rgba(249, 249, 224, 0.986);
}
.topnav{
    padding-right: 150px;
    font-size: 40px;
    overflow: hidden;
}
h1{
    padding-left: 70px;
    padding-top:10px;
}
.topnav a{
    padding-left: 90px;
    padding-top: 50px;
    float: right;
    font-size:17px;
    text-decoration: none;
    color: black;
}
button{
    border-radius: 100px;
    padding-left:20px;
    padding-top: 5px;

}